.courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: start;

    @include query(1000) {
        grid-template-columns: 1fr 1fr;
    }

    @include query(700) {
        grid-template-columns: 1fr;
    }
}

.course-item {
    padding: 2rem;
    border: 1px solid $clr-primary;
    border-radius: 1rem;

    &-title {
        font-size: 2rem;
    }

    &-desc {
        font-size: 1rem;
    }

    &-features {
        display: flex;
        gap: .5rem;
        margin-top: 1rem;
        flex-wrap: wrap;

        > span {
            display: flex;
            align-items: center;
            padding: .25rem .5rem;
            border: 1px solid $clr-primary;
            border-radius: .5rem;
            flex-grow: 1;
            justify-content: center;
            font-size: .85rem;
            gap: .25rem;
        }
    }

    &-price {
        margin-top: 2rem;
        
        .price {
            font-family: $ff-title;
            font-size: 3rem;
            line-height: 1;
            display: flex;
            align-items: end;

            span {
                font-size: 1.5rem;
            }
        }

        .ars-comment {
            font-size: .85rem;

            span {
                color: $clr-primary;
                font-weight: 600;
            }
        }
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-top: .5rem;
    }

    &-currencies {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: .75rem;

        button {
            border: 0;
            background-color: transparent;
            font-size: 1rem;
            color: $clr-text;
            font-family: $ff-text;
            cursor: pointer;
            border: 1px solid $clr-primary;
            border-radius: .25rem;
            padding: .25rem .5rem;

            &.active {
                background-color: $clr-primary;
                color: $clr-light;
            }
        }
    }
}

.gateway-logo {
    max-height: 2rem;
    max-width: 2rem;
    margin-right: 0.5rem;
    border-radius: .5rem;
    margin-left: auto;
    align-self: center;
}

.course-inner {

    &-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        margin-top: 2rem;
    }
    
    .course {

        &-about {

            &-title {
                font-size: 2.4rem;
            }

            &-text {
                font-size: 1rem;
            }
        }

        &-details {

            .course-detail {
                border: 1px solid $clr-primary;
                padding: 1rem;
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 6fr;
                gap: 1rem;

                img {
                    border-radius: .25rem;
                    transition: 1s;

                    &:hover {
                        transform: scale(3) rotate(-8deg);
                    }
                }

                &:not(:first-child) {
                    margin-top: -1px;
                }

                &:first-child {
                    border-radius: 1rem 1rem 0 0;
                }

                &:last-child {
                    border-radius: 0 0 1rem 1rem;
                }

                &-icon {
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $clr-primary;
                }
            }
        }

        &-program {
            margin-top: 2rem;

            &-title {
                font-size: 3.4rem;
            }
        }

        &-classes {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        &-class {
            display: grid;
            grid-template-columns: 4fr 8fr;
            gap: 1rem;

            h3 {
                font-size: 1.4rem;
                font-weight: 400;
            }

            p {
                font-size: 1rem;
                color: $clr-text-transparent;
            }

            .img {
                border-radius: .25rem;
            }


        }
    }
}