.donations {

    .donation {
        margin-top: 2rem;
        padding: 2rem 3rem;
        border: 1px solid $clr-primary;
        border-radius: 1rem;

        @include query(650) {
            padding: 2rem;
        }

        &-title {
            font-size: 2rem;
            margin-bottom: 1rem;

            @include query(600) {
                font-size: 2rem;
            }

            @include query(500) {
                font-size: 1.5rem;
            }
        }

        &-subtitle {
            font-size: 1.5rem;
            margin-top: 2rem;
            display: flex;
            align-items: center;

            img {
                max-height: 2rem;
                max-width: 2rem;
                margin-right: .5rem;

                &.rounded {
                    border-radius: .5rem;
                }
            }

            @include query(600) {
                font-size: 1.25rem;
            }

            &:first-of-type {
                margin-top: 1.5rem;
            }

            > span {
                font-family: $ff-text;
                font-size: .65em;
                font-weight: 400;
            }
        }

        &-text {
            font-size: 1rem;

            &-small {
                font-size: .85em;
            }
        }
    }

    &-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        align-items: start;

        @include query(900) {
            grid-template-columns: 1fr;
        }
    }
}