.header {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr-primary;
    position: sticky;
    top: 0;
    background-color: $clr-light-transparent;
    backdrop-filter: blur(10px);
    z-index: 999;

    &-logo {
        font-family: $ff-title;
        font-size: 2rem;
        font-weight: 800;
        transition: .2s;

        .dot {
            color: $clr-primary;
        }
    }

    .nav {

        &-list {
            display: flex;
            gap: 1rem;
        }

        &-link {

            &::before {
                position: absolute;
                height: 1px;
                content: '';
                background-color: $clr-primary;
                left: 0;
                right: 0;
                bottom: calc(100% + .25rem);
                transform: scaleX(0);
                transition: .2s;
                transition-timing-function: $cubic-bezier;
            }

            &:hover,
            &.active {
                color: $clr-primary;

                &::before {
                    transform: scaleX(1);
                }
            }
        }

        @include query(700) {
            display: none;
        }
    }

    .languages {
        font-family: $ff-title;
        display: flex;
        gap: .5rem;
        align-items: center;

        button {
            background-color: transparent;
            cursor: pointer;
            color: $clr-dark;
            font-size: .95rem;
            font-family: $ff-title;
            transition: .2s;
            padding: .1rem .5rem;
            border-radius: 100vmax;
            border: 1px solid transparent;

            &.active {
                color: $clr-primary;
                transform: scale(1.05);
                border-color: var(--clr-primary);
            }
        }

        b {
            color: $clr-primary;
        }
    }

    .open-menu,
    .close-menu {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        display: none;
    }

    @include query(700) {
        .open-menu {
            display: block;
        }
    }

    &.menu-active {
        position: fixed;
        height: 100vh;
        height: 100dvh;
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        .open-menu {
            display: none;
        }

        .close-menu {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .nav {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            &-list {
                flex-grow: 1;
                flex-direction: column;
                padding-block: 1rem;
                justify-content: space-evenly;
                font-size: 2rem;
            }

            &-link {
                
                &::after {
                    font-size: .5em;
                    top: 50%;
                    transform: scale(1) translateY(-50%);
                    left: calc(100% + 1rem);
                    padding: .25em .5em;
                }
            }
        }

        .header-logo {
            display: none;
        }
    }
}