.header {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr-primary;
    position: sticky;
    top: 0;
    background-color: $clr-bg-transparent;
    backdrop-filter: blur(10px);
    z-index: 999;

    @include query(600) {
        padding: 1rem 2rem;
    }

    @include query(500) {
        padding: 1rem;
    }

    &-logo {
        font-family: $ff-title;
        font-size: 2rem;
        font-weight: 800;
        transition: .2s;
        color: $clr-text;

        .dot {
            color: $clr-primary;
        }
    }

    .nav {

        &-list {
            display: flex;
            gap: 1rem;
        }

        &-link {

            &::before {
                position: absolute;
                height: 1px;
                content: '';
                background-color: $clr-primary;
                left: 0;
                right: 0;
                bottom: calc(100% + .25rem);
                transform: scaleX(0);
                transition: .2s;
                transition-timing-function: $cubic-bezier;
            }

            &:hover,
            &.active {
                color: $clr-primary;

                &::before {
                    transform: scaleX(1);
                }
            }
        }

        @include query(700) {
            display: none;
        }
    }

    .languages {
        font-family: $ff-title;
        display: flex;
        gap: .5rem;
        align-items: center;
        position: relative;

        button {
            background-color: transparent;
            cursor: pointer;
            color: $clr-text;
            font-size: .95rem;
            font-family: $ff-title;
            transition: .2s;
            padding: .1rem .5rem;
            border-radius: .5rem;
            border: 1px solid transparent;

            &.active {
                color: $clr-primary;
                transform: scale(1.05);
                border-color: var(--clr-primary);
            }
        }

        b {
            color: $clr-primary;
        }

        &-open-menu {
            color: $clr-primary;
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
        }

        &-menu {
            position: absolute;
            top: calc(100% + .5rem);
            right: 0;
            background-color: $clr-bg;
            border: 1px solid $clr-primary;
            padding: 1rem;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: scale(0);
            transition: .25s;
            transform-origin: top right;

            @include query(700) {
                left: calc(100% + .5rem);
                top: 0;
                transform-origin: top left;
                width: auto;
                right: unset;
            }

            &.active {
                transform: scale(1);
                transition-timing-function: $cubic-bezier;
            }
        }
    }

    .open-menu,
    .close-menu {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        display: none;
    }

    @include query(700) {
        .open-menu {
            display: block;
        }
    }

    &-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include query(700) {
            display: none;
        }

        .color-mode {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 0;

            svg {
                width: 1.25rem;
                height: 1.25rem;
                color: var(--clr-primary);
                cursor: pointer;
            }
        }
    }

    &.menu-active {
        position: fixed;
        height: 100vh;
        height: 100lvh;
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        .open-menu {
            display: none;
        }

        .close-menu {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .nav {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-list {
                flex-grow: 1;
                flex-direction: column;
                padding-block: 1rem;
                justify-content: space-evenly;
                font-size: 2rem;
            }

            &-item {
                width: max-content;
            }

            &-link {
                
                &::after {
                    font-size: .5em;
                    top: 50%;
                    transform: scale(1) translateY(-50%);
                    left: calc(100% + 1rem);
                    padding: .25em .5em;
                    width: max-content;
                }
            }
        }

        .header-logo {
            display: none;
        }

        .header-buttons {
            display: flex;
        }
    }
}