.shortcuts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "youtube discord donations";
    gap: 2rem;
    padding-block: 1rem;

    @include query(1200) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "youtube discord"
            "donations donations";
    }

    @include query(600) {
        display: flex;
        flex-direction: column;
    }

    .shortcut {
        background-color: $clr-bg;
        color: $clr-text;
        padding: 2rem;
        border-radius: 1rem;
        border: 2px solid $clr-primary;
        transition-property: background-color, border, transform;
        transition-duration: .2s, .2s, .2s;
        transition-timing-function: ease, ease, $cubic-bezier;

        &-title {
            font-size: 3rem;
            margin-bottom: .5rem;
            transition: .2s;

            @include query(500) {
                font-size: 2rem;
            }
        }

        &-text {
            font-size: 1.1rem;
            transition: .2s;
        }

        &:hover {
            transform: scale(1.1);
        }


        &-youtube {
            grid-area: youtube;

            &:hover {
                background-color: $clr-youtube;
                color: $clr-light;
                border-color: $clr-youtube;
            }
        }

        &-discord {
            grid-area: discord;

            &:hover {
                background-color: $clr-discord;
                color: $clr-light;
                border-color: $clr-discord;
            }
        }

        &-donations {
            grid-area: donations;

            &:hover {
                background-color: $clr-primary;
                color: $clr-light;
            }
        }
    }
}